
.pnlStudentButton{
    -fx-background-color: #FFFFFF;
}

.pnlStudentButton:hover{
    -fx-text-fill: #1F4287;
    -fx-background-color: #E0E0E0;
    -fx-border-color: #1F4287;
    -fx-border-width: 0px 0px 0px 3px;
}

.btnSave{
    -fx-background-color:  #1F4287;
}

.btnSave:hover{
    -fx-background-color: #071E3D;
}
.pnlStudentButton:focused{
    -fx-background-color: #E0E0E0;
    -fx-border-color: #1F4287;
    -fx-border-width: 0px 0px 0px 3px;
}

.table-view .column-header-background{
    -fx-background-color:  #1F4287;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-row-cell:filled:pressed{
    -fx-cursor:hand;
    -fx-background-color:#1F4287 ;
}